* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: row; /* Default */
  justify-content: flex-start; /* Default Alinea al inicio principal*/
  justify-content: flex-end; /* Alinea al final principal */
  justify-content: center; /* Alinea al centro */
  justify-content: space-around; /* Distribuye el espacio disponible a acada lado de los elementos de forma proporcional */
  justify-content: space-between; /* Distribuye el espacio disponible entre los elementos. */
  justify-content: space-evenly; /* Distribuye el espacio disponible entre los elementos y el borde del contenedor */

  margin: 0 auto;
  width: 1000px;
  height: 1000px;
  background-color: darkslateblue;
}

.item {
  width: 100px;
  height: 100px;
  padding-top: 46px;
  text-align: center;
  background-color: lightcoral;
}

/* 

  Intrucciones: 
  
  1. Poner fondo a la clase .container

  2. Poner fondo a la clase .item

  3. Asignar ancho 500px y alto 500px a la clase .container y centrar

  4. Asignar ancho 100px y alto 100px a la clase .item y padding-top 46px

  5. Centrar el texto de la clase .item

  6. A todos los elementos establecer box-sizing con valor border-box.
  
  */
