* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.container {
  display: flex;

  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap; /* Default. Esto no forza el salto de línea. */
  flex-wrap: wrap;
  gap: 16px; /* Espacio entre los elementos */

  width: 500px;
  height: 500px;
  background-color: darkslateblue;
  padding: 16px 0;
}

.item {
  width: 150px;
  /* height: 50px; */
  background-color: lightcoral;
  border: 1px solid lightgreen;
  text-align: center;
}
