/* 

  Flex Grow

  Es una de la tres propiedades que reciben los elementos (items) contenidos en un contenedor (container) con display: flex

  flex-grow -> Define cuánto puede crecer un elemento si hay espacio disponible en el contenedor.

  * El valor por defecto es 0: No crece
  * Si le damos un valor de 1: Crecera para ocupar el espacio disponible.
  * Podemos dar valores mayores a 1, entre más alto el valor el elemento ocupara mayor espacio disponible. 
  * Si varios elementos tienen distintos valores, el espacio se reparte propocionalmente.

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: row-reverse;
  flex-direction: column;

  height: 700px;
  background-color: darkslateblue;
}

.item {
  flex-grow: 0; /* Defatul no crecen */
  flex-grow: 1; /* Factor de crecimiento */
  border: 1px solid lightgreen;
  background-color: lightcoral;
}

.item-1 {
  flex-grow: 0; /* no crece */
}
.item-2 {
  flex-grow: 1; /* Crece con un factor de 1 */
}
.item-3 {
  flex-grow: 2; /* Crece con un factor de 2 */
}
.item-4 {
  flex-grow: 3; /* Crece con un factor de 3 */
}
